@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "_variables";

h1{
    color: red;
}
.btn1{
    background-color: $secundari;
    color: $tercer;
}
.featureText{
    color: $cuarto;
}
.nav1{
    color: $cuarto;
}

.container1{
    margin-top: 100px !important;

    

    .imagen{
        z-index: 1;
        // margin-right: -50px;
    }
    .azul{
        height: 325px;
        width: 750px;
        background: $principal;
        margin-top: -325px;
        margin-left: 175px;
        
    }
}

.container2{
    .img2{
        margin-top: 50px;
    }
    .imagen2{
        z-index: 1;
    }
    .azul2{
        height: 350px;
        width: 850px;
        background: $principal;
        margin-top: -290px;
        margin-left: -350px ;
    }
    .nav-link{
        border-bottom: 2px solid $cuarto;;
        color: $cuarto;
    }
}
.btn-primary{
    background: $principal;
}
.card-text{
    color: $cuarto;
}
.p{
    color: $cuarto;
}

.container4{
   .row{
    min-height: 30rem;
   }
    .card-img-top{
        width: 30%;
    }
    .card-title{
        text-align: center;
    }
    .card-text{
        text-align: center;
        color: $cuarto;
    }
    hr {
        height: 1px;
        border: medium none;
        border-top: 3px dashed rgb(29, 28, 28)!important
    }

    .tarjeta2 {
        grid-row: 2;
    }
    .tarjeta3 {
        grid-row: 3;
    }
}

.container5{
    margin-top: 150px !important;
}
.container6{
    width: 35%;

    .accordion-item {
        border-left: 0px solid !important;
        border-right: 0px solid !important;
    }   
}


