@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "_variables";

body{
    overflow-x: hidden;
    h1{
        color: red;
    }
    .btn1{
        background-color: $secundari;
        color: $tercer;

        &:hover{
            border-color: $secundari;
            color: $secundari;
            background-color: $tercer;
        }
    }
    .featureText{
        color: $cuarto;
    }
    .nav1{
        color: $cuarto;

        &:hover{
            color: $secundari;
        }
    }
    
    .container1{
        margin-top: 100px !important;
    
        
    
        .imagen{
            z-index: 1;
            // margin-right: -50px;
        }
        .azul{
            height: 325px;
            width: 750px;
            background: $principal;
            margin-top: -325px;
            margin-left: 175px;
            
        }
        .btn-primary:hover{
            background-color: $tercer;
            color: $principal;
            border-color: $principal;
        }
        .btn-dark:hover{
            background-color: $tercer;
            color: $sexto;
            border-color: $sexto;
        }
    
    }
    
    .container2{
        .img2{
            margin-top: 50px;
        }
        .imagen2{
            z-index: 1;
        }
        .azul2{
            height: 350px;
            width: 850px;
            background: $principal;
            margin-top: -290px;
            margin-left: -350px ;
        }
        .nav-link{
            border-bottom: 2px solid $cuarto;;
            color: $cuarto;

            &:hover{
                border-bottom: 2px solid $secundari;
                color: black;
            }
        }
        .btn-primary:hover{
            background-color: $tercer;
            color: $principal;
            border-color: $principal;
        }
    }
    .btn-primary{
        background: $principal;
    }
    .card-text{
        color: $cuarto;
    }
    .p{
        color: $cuarto;
    }
    
    .container4{
       .row{
        min-height: 30rem;
       }
        .card-img-top{
            width: 30%;
        }

        .card {
            .card-body{
                .card-title{
                    text-align: center;
                }
                .card-text{
                    text-align: center;
                    color: $cuarto;
                }
            }
            hr {
                height: 1px;
                border: medium none;
                border-top: 3px dashed rgb(29, 28, 28)!important
            }
            .btn-primary:hover{
                background-color: $tercer;
                color: $principal;
                border-color: $principal;
            }
        }
        .tarjeta2 {
            grid-row: 2;
        }
        .tarjeta3 {
            grid-row: 3;
        }
    }
    
    .container5{
        margin-top: 150px !important;
    }
    .container6{
        width: 35%;
    
        .accordion-item {
            border-left: 0px solid !important;
            border-right: 0px solid !important;

            .accordion-button:hover{
                color: $secundari;
            }
        }
        .btn-primary:hover{
            background-color: $tercer;
            color: $principal;
            border-color: $principal;
        }
    }
    
    
    footer{
        background-color: $principal;
        margin-top: 150px;
        .container8 {
            width: 40%;
        }
        .textFoot{
            color: white;
        }
        
        .btn-secondary{
            background: $secundari;
            color: $tercer;

            &:hover{
                border-color: $secundari;
                color: $secundari;
                background-color: $tercer;
            }
        }
        .navFooter{
            background-color: $sexto;
            
            .brand {
                fill:$tercer;
            }
            .nav-link{
                color: $tercer;

                &:hover{
                    color: $secundari;
                }
            }


            .facebook {
                fill:$tercer;
                
              
                  &:hover {
                    fill: $secundari;
                }
                .facebook2 {
                   position:relative;
                   -webkit-transform: translate(40%, 40%);
                  -ms-transform: translate(40%, 40%);
                   transform: translate(40%, 40%);
                }
            }

            .twitter {
                fill:$tercer;
                  
                &:hover {
                    fill: $secundari;
                }
                .twitter2 {
                    position:relative;
                    -webkit-transform: translate(40%, 40%);
                   -ms-transform: translate(40%, 40%);
                    transform: translate(40%, 40%);
                 } 
            }

          
        }

    }
    
}
